* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(52, 73, 53);
    font-family: Arial, sans-serif;
    text-align: center;
}

.headtitle {
    text-align: center;
}

#containerList {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bookList {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.bookEntry {
    flex: 1;
    border: 3px solid #382d20;
    border-radius: 10px;
    padding: 3px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 70%;
}

button {
    padding: 10px;
    margin: 10px;
}

.bookEntry > button {
    margin: 0;
    padding: 0;
}


